<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
    <Appenders>
        <RollingFile name="File" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}: - %m%n"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" >
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>